{% extends "base.html" %}
{% block body %}
{% include "flashes.html" %}
<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Add user</h3>
			</div>
			<div class="panel-body">
				<form role="form" action="/admin/superadmin/createuser/" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" id="create-username" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="create-password" name="password" placeholder="Password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="create-issuper" name="superadmin"> Superadmin?</input>
						</label>
					</div>
					<button type="submit" class="btn btn-success">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
