{% extends "base.html" %}
{% block body %}
<div class="container admin">
	{% include "_admin_navbar.html" %}
	{% include "_flashes.html" %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Users</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>ID</td>
								<td>Name</td>
								<td>Email</td>
								<td>Date Registered</td>
								<td>Phone</td>
								<td>Paid?</td>
							</tr>
						</thead>
						<tbody>
						{% for user in users %}
						<tr class="{% if user.paid >= 1000 %}success{% elif user.paid == 0 %}warning{% else %}danger{% endif %}">
								<td>{{ user.id - 6 }}</td>
								<td><b>{{ '' if user.name == None else user.name }}</b></td>
								<td>{{ user.email }}</td>
								<td>{{ user.date }}</td>
								<td>{{ '' if user.phone == None else ('(' + user.phone[:3] + ') ' + user.phone[3:6] + '-' + user.phone[6:]) }}</td>
								<td>
								{% if user.paid == -1 %}
								No
								{% elif user.paid == 0 %}
								Cash
								{% else %}
								Credit (${{ user.paid / 100 }})
								{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
