{% extends "base.html" %}
{% block body %}
{% include "_admin_navbar.html" %}
{% include "flashes.html" %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">Users</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>ID</td>
							<td>Email</td>
							<td>Name</td>
							<td>Paid?</td>
						</tr>
					</thead>
					<tbody>
					{% for user in users %}
						<tr class="{% if user.paid >= 1000 %}success{% elif not user.emailverified %}danger{% else %}warning{% endif %}">
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.paid }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</div>
{% endblock %}
