{% set title="CSH | Costume 5K" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no ">
    <meta name="description" content="">
    <meta name="author" content="Brandon Hudson">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
	<body{% block bodystyle %}{% endblock %}>
		{% block body %}{% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/bootstrap/docs/assets/js/ie8-responsive-file-warning.js">	</script><![endif]-->
    <script src="/static/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=pk_test_key">
    </script>
    <script src="/static/bootstrap/dist/js/core.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/bootstrap/dist/js/core.js"></script>

    <script src="/static/js/billing.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
