{% extends "base.html" %}
{% block body %}

<div class="container">
  {% include "_navigation-simple.html" %}
</div>
{% include "flashes.html" %}
<div class="jumbotron clearfix" style="padding-top: 4%;" id="billing">
  <h1 class="billing-title">Just a Few More Steps!</h1>
  <noscript>
    <div class="row">
      <div class="alert alert-danger col-xs-6 col-xs-offset-3">
        <p><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;JavaScript is required to complete registration. Please <a href="http://www.enable-javascript.com/" target="_blank">enable javascript</a> to continue.</p>
      </div>
    </div>
  </noscript>
  <form action="/pay/" method="post" class="form-horizontal billing" style="opacity: 0.3">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Full Name</label>
        <div class="col-sm-9">
          <input type="text" name="name" value="" class="form-control" placeholder="Enter your name..." autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Phone Number</label>
        <div class="col-sm-9">
          <input type="text" name="phone" value="" class="form-control" placeholder="(___) ___-____">
          <span class="help-block">Required for public safety</span>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Donation Amount</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" name="amount" value="10" maxlength="7" class="form-control" placeholder="10" data-value-min="10">
          </div>
          <span class="form-control-feedback donation-thank-you">Thank you!</span>
          <span class="help-block">All proceeds go to Charity: Water</span>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Race Selection</label>
        <div class="col-sm-9">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-lg active">
              <input type="radio" name="racetype" value="5k" checked><i class="fa fa-check visible-active"></i> 5K Run
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="racetype" value="funrun"><i class="fa fa-check visible-active"></i> Fun Run
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Pay With</label>
        <div class="col-sm-9 checkout-buttons">
          <div class="pay-action col-sm-6">
            <button class="btn-billing btn btn-lg" type="button" name="type" value="cash"   role="button" disabled>Cash</button>
            <p>pay at the race</p>
          </div>
          <div class="pay-action col-sm-6">
            <button class="btn-billing  btn btn-lg" type="button" name="type" value="credit" role="button" disabled>Credit/Debit</button>
            <p><i class="fa fa-lock"></i>&nbsp;&nbsp;instant &amp; secure, via <a href="https://stripe.com/help/security" target="_blank">stripe</a></p>
            <p><i class="fa fa-cc-amex"></i> <i class="fa fa-cc-discover"></i> <i class="fa fa-cc-visa"></i> <i class="fa fa-cc-mastercard"></i></p>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="email" value="{{ email }}">
  </form>
  <div id="flash-message" class="alert col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="display: none"></div>
</div>
<div class="jumbotron clearfix" style="padding-top: 10%; display: none" id="complete">
  <h1>Thank You!</h1>
  <br>
  <div class="alert alert-success col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p>You have successfully registered for the run.<br>Can't wait to see you there!</p>
    <p id="cash-reminder" style="display: none"><i>Please remember to bring $<span data-billing-price></span> to the race.</i></p>
  </div>
</div>

<div class="footer-custom">
  <p>&copy; CSH 2014. Designed by Brandon Hudson, James Forcier, Stuart Olivera, Jordan Rodgers.</p>
</div>

{% endblock %}
{% block javascripts %}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="/static/js/jquery.maskedinput.min.js"></script>
  <script src="/static/js/bootstrapValidator.min.js"></script>
  <script src="/static/js/billing.js"></script>
{% endblock %}
