{% extends "base.html" %}
{% block body %}

<div class="container">
  {% include "_navigation.html" %}

  <a name="home"></a>
  <div class="jumbotron">

    {% include "flashes.html" %}

    <h1>CSH Costume 5K</h1>
    <p class="lead">Pre-Register today for the CSH 5K, being held October 25, 2014. Tickets are only $10.00 for a limited time! Act fast and save! All proceeds will go to support Charity: Water to help provide clean water to people all across the world!</p>
    <button class="cust-btn btn-prereg" href="#register" role="button">Pre-Register Today!</button>
  </div>

  <a name="about"></a>
  <div class="row marketing qa">
    <div class="page-header">
      <h1 class="custom-header">What is it?</h1>
    </div>
    <div class="col-lg-6">
      <h4>When</h4>
        <p>The 5K will be held Saturday, October 25, 2014 at 10:00 AM with event registration beginning at 9:00 AM.</p>

        <h4>Where</h4>
        <p>The race will begin behind Nathaniel Rochester Hall on the residence side of campus and work its way around and through the academic side and back. Check out the map below for the exact route!</p>


        <h4>Who's it For</h4>
        <p>All of the proceeds collected from this race will go to benefit Charity: Water. Charity: Water is a non-profit organization bringing clean
and safe drinking water to people in developing nations. They use 100% of public donations directly toward the development of clean water resources, so all of the money raised will go directly to helping those who need it most! <br><a href="http://www.charitywater.org/about/mission.php">More Information <i class="fa fa-angle-double-right"></i></a></p>

        <h4>Who Are We</h4>
        <p>CSH, also known as the Computer Science House, is one of the many awesome special interest houses on the RIT campus! Every year during the fall, we host a new event that benefits a well deserved charity! </p>

        <h4>Early Registration</h4>
        <p>Early registration is required to participate in this event! Be sure to register with a valid email using our provided registration field. Once you've registered, you will be emailed a confirmation, where you can either pay via credit card, or opt to pay at the event!</p>
      </div>

      <div class="col-lg-6">
        <h4>Event Pricing</h4>
        <p>Tickets will be on sale starting Saturday, Sept. 27. The $10.00 Early Bird Special will be offered from Sept. 27 - Oct. 4. General ticket sales go on sale Oct. 5 - Oct. 11 for $15.00! </p>

        <h4>I've Registered! What's next?</h4>
        <p>Once you have selected your payment option, your spot will be held in our system! On race day, you will receive a runner's bib with your number at one of our check-in tables. Check-in begins at 9:00 AM, with the race starting promptly at 10:00 AM</p>

        <h4>Do I Have to Wear a Costume</h4>
        <p>Absolutely not! We encourage everyone to dress for the occasion, whether that be a Halloween costume or any other costume you can think of, but it is by no means a requirement! Given that, the crazier the costume the better! We will be hosting a costume contest on the day of the race with prizes to give away!</p>

        <h4 class="headcolor">Can I register on the day of?</h4>
        <p>Yes! We will be accepting day-of race registrations starting at 9:00 AM. Cash and credit cards are accepted via Square! Please note that the price will be $15.00 on the day of the race, so if you are interested pre-register now to save!</p>

  		  <h4>I have more questions.</h4>
  		  <p>Don't hesitate to email <a href="mailto:5k@csh.rit.edu">5k@csh.rit.edu</a> with any questions you may have!</p>
    </div>
  </div>

  <a name="register"></a>
  <div class="jumbotron register">
    <h1>Pre-Register Today!</h1>
    <p class="lead">Enter your email address to register</p>
    <form action="/register/" method="POST" class="form-full-width">
      <input name="email" type="text" id="email" class="form-control no-border" placeholder="email@example.com">
      <input type="submit" name="submit" value="Register" id="submit" class="submit-button">
    </form>
  </div>

  <a name="course"></a>
  <div id="map-canvas" class="map"></div>

  <div class="footer-custom">
    <p>&copy; CSH 2014. Designed by Brandon Hudson, James Forcier, Stuart Olivera, Jordan Rodgers.</p>
  </div>

</div>

{% endblock %}
{% block javascripts %}
  <script src="/static/js/home.js"></script>
{% endblock %}
