{% extends "base.html" %}
{% block body %}

<div class="container">
  {% include "_navigation.html" %}

  <a name="home"></a>
  <div class="jumbotron main">

    {% include "_flashes.html" %}

    <h1>CSH Costume 5K</h1>
    <p class="lead">Pre-Register today for the CSH 5K and fun run, being held October 25, 2014. Tickets are only $10.00 for a limited time! All proceeds will go to support charity: water to help provide clean water to people all across the world!</p>
    <a href="https://charitywater.org"><img src="/static/images/cta-charitywater.png" class="cta-img"></a>
    <a class="cust-btn btn-prereg" href="#register" role="button">Pre-Register Today!</a>
  </div>

  <a name="about"></a>
  <div class="row marketing qa">
    <div class="page-header">
      <h1 class="custom-header">What is it?</h1>
    </div>
    <div class="col-sm-6">
      <h4>When</h4>
        <p>The 5K will be held Saturday, October 25, 2014 at 10:00 AM with event registration beginning at 9:00 AM.</p>

        <h4>Where</h4>
        <p>The race will begin on Eleanor Gleason Circle, near the large turf field and its way around the east side of campus. Check out the map below for the exact route!</p>

        <h4>Who's it For</h4>
        <p>All of the proceeds collected from this race will go to benefit charity: water. charity: water is a non-profit organization bringing clean
and safe drinking water to people in developing nations. They use 100% of public donations directly toward the development of clean water resources, so all of the money raised will go directly to helping those who need it most! <br><a href="http://www.charitywater.org/about/mission.php">More Information <i class="fa fa-angle-double-right"></i></a></p>

        <h4>Who Are We</h4>
        <p>CSH, also known as the Computer Science House, is one of the many awesome special interest houses on the RIT campus! Every year during the fall, we host a new event that benefits a well deserved charity! </p>

        <h4>What else is there to do?</h4>
        <p>There will also be a costume contest with prizes for the fun run.</p>

        <h4>Can I just donate?</h4>
        <p>Most certainly! You can donate at our table on the quarter mile or on the day of the race.</p>
      </div>

      <div class="col-sm-6">
        <h4>Event Pricing</h4>
        <p>Tickets are on sale for $10.00 until Oct. 18. After that, the price will go up to $15.00, including day-of registration.</p>

        <h4>Early Registration</h4>
        <p>Early registration allows you to secure your spot in this event! Be sure to register with a valid email below. Once you've registered, you will be emailed a confirmation, where you can either pay via credit card, or opt to pay at the event!</p>

        <h4>I've Registered! What's next?</h4>
        <p>Once you have selected your payment option, your spot will be held in our system! On race day, you will receive a runner's bib with your number at one of our check-in tables. Check-in begins at 9:00 AM, with the race starting promptly at 10:00 AM</p>

        <h4>Do I Have to Wear a Costume?</h4>
        <p>Absolutely not! We encourage everyone to dress for the occasion, whether that be a Halloween costume or any other costume you can think of, but it is by no means a requirement! Given that, the crazier the costume the better! We will be hosting a costume contest on the day of the race with prizes to give away!</p>

        <h4>Can I register on the day of?</h4>
        <p>Yes! We will be accepting day-of race registrations starting at 9:00 AM. Cash and credit cards will be accepted. Please note the price will be $15.00 the day of the race compared to $10 for pre-registration before October 19th, so be sure to pre-register if you can!</p>

  		  <h4>I have more questions.</h4>
  		  <p>Don't hesitate to email <a href="mailto:5k@csh.rit.edu">5k@csh.rit.edu</a> with any questions you may have!</p>
    </div>
  </div>

  <a name="register"></a>
  <div class="jumbotron register">
    <h1>Pre-Register Today!</h1>
    <p class="lead">Enter your email address to register</p>
    <form action="/register/" method="POST" class="form-full-width">
      <input name="email" type="email" id="email" class="form-control no-border" placeholder="email@example.com">
      <input type="submit" name="submit" value="Register" id="submit" class="submit-button">
    </form>
  </div>

  <a name="course"></a>
  <div id="map-canvas" class="map"></div>

  <div class="footer-custom">
    <p>&copy; CSH 2014. Designed by Brandon Hudson, James Forcier, Stuart Olivera, Jordan Rodgers.</p>
  </div>

</div>

{% endblock %}
{% block head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5314102-41', 'auto');
    ga('send', 'pageview');

    </script>
{% endblock %}
{% block javascripts %}
  <script src="/static/js/home.js"></script>
{% endblock %}
