{% extends "base.html" %}
{% block bodystyle %} style="background-color: #F6F6F6"{% endblock %}
{% block body %}

<div class="container">
  {% include "_navigation-simple.html" %}
</div>

<div class="jumbotron" style=" padding-top: 13%;">
  {% include "_flashes.html" %}
  <h1>Thank You for Registering!</h1>
  <p class="lead">You're almost there! Please verify your email address to continue. <br>Didn't recieve the verification email?
  <p><a class="cust-btn btn-prereg" href="/resend/{{ uid }}/" role="button" style="text-transform: none; text-decoration:none; color:#FFF">Re-send Verification</a></p>
</div>

<div class="footer-custom">
  <p>&copy; CSH 2014. Designed by Brandon Hudson, James Forcier, Stuart Olivera, Jordan Rodgers.</p>
</div>

{% endblock %}
{% block head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5314102-41', 'auto');
    ga('send', 'pageview');

    </script>
{% endblock %}
